{% extends "home/base.html" %}
{% block content %}
	<legend class="border-bottom mb-4">
		DNA Centre Server List
	</legend>
    <form method="POST" enctype="multipart/form-data">
    	{% csrf_token %}
    	<p>The following devices have been added to the API monitoring demonstration</p>
    	<div class="card">
	    	<table class="table table-sm">
		    	<tbody>
			    	{% for kit in device_list %}
			    		<tr>
			    			<td>{{ kit.hostname }}</td>
			    			<td>{{ kit.ipaddress }}</td>
			    			<td>
			    				<button class="btn btn-outline-info btn-sm" type="submit" name="monitor" value="?device={{ kit.hostname }}">
									Monitor
								</button>
			    				<button class="btn btn-outline-danger btn-sm" type="submit" name="delete" value="{{ kit.hostname }}">
									Delete
								</button>
							</td>
			    		</tr>
			    	{% endfor %}
	    		</tbody>
	    	</table>
	    </form>
    </div>
{% endblock content %}