{% extends "home/base.html" %}
{% block content %}
        <P>
        <div class="container">
            <h5>DNAC Server: {{ dnacname }}</h5>
            <h6>List of devices currently managed by DNA Centre</h6>
            <table class="card table table-sm">
                {% for kit in system.response %}
                    <tr>
                        {% if kit.hostname is not none %}
                            <td>{{ kit.hostname }}</td>
                            <td>{{ kit.managementIpAddress }}</td>
                            <td>{{ kit.platformId }}</td>
                            <td>{{ kit.softwareType }}</td>
                            <td>{{ kit.softwareVersion }}</td>
                            <td>{{ kit.bootDateTime }}</td>
                        {% else %}
                            <td class="table-danger">{{ kit.hostname }}</td>
                            <td class="table-danger">{{ kit.managementIpAddress }}</td>
                            <td class="table-danger">{{ kit.platformId }}</td>
                            <td class="table-danger">{{ kit.softwareType }}</td>
                            <td class="table-danger">{{ kit.softwareVersion }}</td>
                            <td class="table-danger">{{ kit.bootDateTime }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
{% endblock %}